@import '@/styles/variables';

.app-container {
  width: 100%;
  height: 100%;
  font-family: $content-font-family;
  flex: 1 0 0;
  overflow-x: hidden;
  overflow-y: auto;

  @media all and (min-width: $pc-media) {
    padding: $content-padding-xl $content-padding-xl;
  }

  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    padding: $content-padding-xl $content-padding-lg;
  }

  @media all and (max-width: $pads-media) {
    padding: $content-padding-xl $content-padding-md;
  }
}
